body {
	margin: 20px auto;
	max-width: 750px;
	line-height: 1.5em;
	font-size: 1.1em;
	padding: 0 10px;
	font-family: 'Montserrat', sans-serif;
  	color: #1e1e1e;
  	background-color: #ffffff;
	hyphens: auto;
}
	header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	white-space: nowrap;
	font-variant: small-caps
}
.logo {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}
	a {
	color: #000080;
	text-decoration: none
}
	a:hover {
	color: #FF7B29;
}
	h1 {color: #000080;
}
	h2,h3,h4,h5 {
	color: #000080;
}
	img {
    	padding-right: 30px;
   	padding-bottom: 15px;
}

}



