body {
	margin: 20px auto;
	max-width: 750px;
	line-height: 1.5em;
	font-size: 1.1em;
	background-color: #FFFFFF;
	padding: 0 10px;
	font-family: Times New Roman;
	color: #000080;
	hyphens: auto;
}
	header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	white-space: nowrap;
	font-variant: small-caps
}
	.montserrat-<uniquifier> {
  	font-family: "Montserrat", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 800;
  	font-style: normal;
}
	a {
	color: #000080;
	text-decoration: none
}
	a:hover {
	color: #FF7B29;
}
	h1 {color: #000080;
}
	h2,h3,h4,h5 {
	color: #000080;
}
	img {
    	padding-right: 30px;
   	padding-bottom: 15px;
}

}


