@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
	margin: 20px auto;
	max-width: 750px;
	line-height: 1.5em;
	font-size: 1.1em;
	background-color: #FFFFFF;
	color: #000000;
	padding:0 10px;
	font-family: Open Sans;
	hyphens: auto
}
	header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	white-space: nowrap;
	font-variant: small-caps
}
	a {
	color: #000000;
	text-decoration: none
}
	a:hover {
	color: #000000
}
	h1 {color: #000000;
}
	h2,h3,h4,h5 {
	color: #000000;
}
	img {
    padding-right: 30px;
    padding-bottom: 15px;
}

}
